<div>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>글쓴이</th>
      <th>제목</th>
      <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boards}">
      <td><a href="board.html" th:href="@{/boards/{boardId}(boardId=${board.boardId})}" th:text="${board.boardId}">게시글 아이디</a></td>
      <td><a href="board.html" th:href="@{|/boards/${board.boardId}|}" th:text="${board.name}">글쓴이</a></td>
      <td th:text="${board.title}">제목</td>
      <td th:text="${board.read}">1</td>
    </tr>
    </tbody>
  </table>
</div>